.btn-floating
{
    color: black;
}
.btn-floating:hover
{
    color: #525252;
    transition: 0.3s;
}
.btn-floating:focus
{
    border: solid dimgrey;
}

.mail_link
{
    color: #525252;
}
.mail_link:hover
{
    color: black;
    transition: 0.2s;
    text-decoration: none;
}
.mail_link:focus
{
    border: solid dimgrey;
}
.p_quote
{
    padding: 0px;
    margin: 0px;
}