.btn
{
    border-color: black;
    border-radius: 0px;
    padding: 10px 50px 10px 50px;
    color: black;
    transition: 0.3s;
}
.btn:hover
{
    background-color: black;
    color: white;
}
.heading
{
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 25px;
}
.pass
{
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    color: black;
    
    margin-bottom: 10px;
}
.password-lock 
{
    fill: #939393;
    text-align: center;
    margin-bottom: 1.66667rem;
}
.inner 
{
    text-align: center;
    height: 3.33333rem;
    position: relative;
    margin: 0 auto;
    padding-top: 10vh;
}
.input-fields 
{
    width: 20.77778rem;
    height: 3.33333rem;
    position: relative;
    margin: 0 auto;
}
#content-holder .post-password-form .inner .input-fields input[type=password] 
{
    width: 27.77778rem;
    height: 3.33333rem;
    border: 0;
    padding: .27778rem;
    background: #fff;
    color: #000;
    font-size: 1.22222rem;
    line-height: 3.33333rem;
    letter-spacing: .22222rem;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    box-shadow: 10px 10px 30px rgba(0,0,0,.04);
    text-indent: .83333rem;
    border-radius: 2px;
}
#content-holder
{
    width: 4.44444rem;
    height: 3.33333rem;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: .3;
    background-color: transparent;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.post-password-form 
{
    width: 4.44444rem;
    height: 3.33333rem;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: .3;
    background-color: transparent;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.input
{
    width: 4.44444rem;
    height: 3.33333rem;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: .3;
    background-color: transparent;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}
p
{
    font-size: 25px;
    color: gray;
    padding: 0px;
    margin: 0px;
}
span
{
    color: gray;
    font-size: 15px;
}

img
{
    width: 50px;
}